#CourseList {

    border: solid 1px gray;
    width: 80vw;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 25rem;
    margin-top: 5rem;

  }
  th[colSpan] {
    border-bottom: solid 0.10px gray;
  }

  th:nth-child(2), th:nth-child(1){
    border-bottom: solid 0.10px gray;
  }

