.Header-logo {
    height: 300px;
    width: 300px;
  }
  
  .Header {
    display: flex;
    font-family: 'Sans-serif', "Arial";
    color: red;
    border-bottom: solid 3px red;
  }
  
  .Header h1 {
    margin-top: 5rem;
  }